﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KitaMag</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/index.css")
    @Styles.Render("~/Content/index.css")

   

</head>



<body>

        <!-- Ana menü-->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ana-menu">
                <span class="sr-only"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">KitaMag</a>
            <div class="navbar-collapse collapse" id="ana-menu">

                <ul class="nav navbar-nav" align="right">
                    
                    <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.About, "About", "Home")</li>
                    <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Contact, "Contact", "Home")</li>
                    <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Language, "Index", "Language")</li>
                   

                </ul>
                @if (Session["KULLANICIADI"] == null)
                {
                    <div class="saglama">

                        <a href="@Url.Action("Create","KULLANICILAR")"><button class="btn btn-danger " role="button">  <b class="glyphicon glyphicon-user f2 "></b>&nbsp;&nbsp; @WebApplication4.Resources.HomeTexts.Register &nbsp;&nbsp;</button> </a> 
                        <a href="@Url.Action("GIRIS","KULLANICILAR")"><button class="btn btn-warning " align="right" role="button">  <b class="glyphicon glyphicon-log-in f2"></b>&nbsp;&nbsp; @WebApplication4.Resources.HomeTexts.LogIn &nbsp;&nbsp;</button></a>
                    </div>
                }

                else
                {
                    <ul class="nav navbar-nav pull-right">
                        
                                         
                        <li>@Html.ActionLink("Admin Paneli", "Index", "icerik")</li>
                        <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Logout, "CIKIS", "KULLANICILAR")</li>
                    </ul>
                }






            </div>


        </div>

     

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - KitaMag - @WebApplication4.Resources.HomeTexts.Footer </p>
              
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
