﻿
@{
    ViewBag.Title = ViewBag.Title = WebApplication4.Resources.HomeTexts.Language;
}

<h2>@WebApplication4.Resources.HomeTexts.Language</h2>

<ul>
    <li>@Html.ActionLink("English","Change","Language", new {LanguageAbbrevation = "en" },null)</li>
    <li>@Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)</li>

</ul>

