.ana{max-width:960px;margin:auto;margin-top:-20px;}
.ust{background:#485563;color:#fff;}
.alt{height:60px;line-height:60px;background:#485563;color:#fff;margin-top:30px;}

.f2{font-size:14px !important;}
.f3{font-size:12px !important;}
.f4{font-size:8px !important;}
		
.k{background:#e43e24;}
.b{background:#66bcfa;}
.g{background:#15d82a;}

.text-orta{text-align:center;}

.temiz{clear:both;}

.saglama{float:right;}

.deneme{
    text-decoration:none;
}
