﻿@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<WebApplication4.Models.icerik>

@{
    ViewBag.Title = WebApplication4.Resources.HomeTexts.Home;
}

@if (Session["KULLANICIADI"] == null)
{
    <div class="jumbotron ust">

        <div class="container">

            <h1>KitaMag</h1>

            <p class="f2">@WebApplication4.Resources.HomeTexts.Metin</p>

            <a href="@Url.Action("Create","KULLANICILAR")" class="btn btn-danger btn-lg" role="button"><b class="glyphicon glyphicon-edit f2"></b>&nbsp;&nbsp; @WebApplication4.Resources.HomeTexts.Register &nbsp;&nbsp;</a>

        </div>


    </div>

}
else
{
    <hr />
    <br />
}



<div class="ana">



    <!-- İçerik menüleri-->

    <div class="navbar navbar-default navbar-static" role="navigation">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-1"><span class="sr-only"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

        <div class="navbar-collapse collapse" id="menu-1">
                                                                 
            <ul class="nav navbar-nav">

                        
                <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Dram, "Index", new { kategori = 1})</li>
                <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Polisiye, "Index", new { kategori = 2 })</li>
                <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Bilim, "Index", new { kategori = 3 })</li>
                <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Tarih, "Index", new { kategori = 4})</li>
                <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Biyografi, "Index", new { kategori = 5 })</li>
                <li>@Html.ActionLink(WebApplication4.Resources.HomeTexts.Bilgisayar, "Index", new { kategori = 6 })</li>

            </ul>

        </div>

    </div>


            <!-- İçerik-->


            <div class="temiz"></div>

        </div>




<div class="col-xs12 col-sm-6 col-md-12">


   
        <div class="col-xs-12 col-sm-6 col-md-12">

            @foreach (var item in Model)
            {
            <div class="col-xs12 col-sm-12 col-md-4">

                <div class="list-group">

                    <a href="@Url.Action("Details", "icerik", new { id = item.icerikID })" class="list-group-item">

                        <div class="text-orta"><img width="150" height="250" src="@Html.DisplayFor(modelItem => item.resimurl)" alt="bootstrap" /></div>
                        <br />
                        <h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => item.baslik)</h4>

                        <p class="list-group-item-text f3">@Html.DisplayFor(modelItem => item.kisaaciklama)</p>
                       
                       <div class="text-orta"><a href="@Url.Action("Details","icerik",new { id = item.icerikID })"><button id="uyari" class="btn btn-danger" type="button">@WebApplication4.Resources.HomeTexts.Contine <b class="glyphicon glyphicon-chevron-right f3"></b></button></a></div>

                    </a>

                </div>


            </div>
            }

        </div>
    






    <h3>@WebApplication4.Resources.HomeTexts.Pages</h3>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))


</div>
