﻿@model WebApplication4.Models.icerik

@{
    ViewBag.Title = "Kayıt Sil";
}

<h2>Kayıt Sil</h2>

<h3>Bu kaydı silmek istiyor musun?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kisaaciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisaaciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resimurl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resimurl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
