﻿@model WebApplication4.Models.icerik

@{
    ViewBag.Title = "Detaylar";
}

<h2> @Html.DisplayFor(modelItem => modelItem.baslik)</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            <img  src="@Html.DisplayFor(modelItem => modelItem.resimurl)" alt="bootstrap" />
        </dd>

        <br />
        <hr />
        <dt>
            Kitap İsmi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitapismi)
        </dd>
        <hr />
        <dt>
            Yazar:

        <dd>
            @Html.DisplayFor(model => model.yazar)
        </dd>
        <hr />
        <dt>
            Yayın Evi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yayınevi)
        </dd>
        <hr />
        <dt>
            Özet :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bilgiler)
        </dd>

    </dl>
</div>
