﻿@model IEnumerable<WebApplication4.Models.icerik>

@using PagedList
@using PagedList.Mvc




@{
    ViewBag.Title = "Admin Paneli";
}

<h2>Admin Paneli</h2>

<p>
    @Html.ActionLink("Yeni Kayıt Ekle", "Create")
</p>

<hr />
    @using (Html.BeginForm())
    {
        <p>
            Kitap Ara : @Html.TextBox("Arama")
            <input type="submit" value="Ara"/>

        </p>
    }

<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kisaaciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resimurl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kisaaciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resimurl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategori)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.icerikID }) |
               
                @Html.ActionLink("Sil", "Delete", new { id = item.icerikID })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
